<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
</head>
<body>
<table>
    <tr>
        <td>Файл</td>
        <td>Размер</td>
    </tr>
    <tr th:each="file:${files}">
        <td th:text="${file.nameFile}"></td>
        <td th:text="${file.filesize}"></td>
    </tr>
</table>
<br/>
<form th:action="@{/list}" method="get">
    <button type="submit" style="margin-top: 5px">Назад к списку</button>
</form>
</body>
</html>